{% extends "CtgMainBundle:Layout:main.html.twig" %}

{% block title %}Bac +1 à Bac +5{% endblock %}
{% block stylesheets %}{{parent()}}{% endblock %}

{%block body %}
<body>
    <header>
    {%block header %}
    {{parent()}}
        <nav class="gtco-nav" role="navigation">
        <div class="container">
            <div>
                <div class="col-sm-2 col-xs-12">
                    <div id="gtco-logo">Aides<em>Territoriales</em>&Eacute;tudiants</div>
                </div>
                <div class="col-xs-10">
                    <ul>
                        <li><a href="{{ path('ctg_education') }}" data-nav-section="aides">Accueil</a></li>
                        <li><a href="{{ path('ctg_aides') }}" data-nav-section="aides">Les aides</a></li>
                        <li><a href="{{ path('ctg_faq') }}" data-nav-section="rules">FAQ</a></li>
                        <li><a href="{{ path('ctg_contact') }}" data-nav-section="procedure">Contact</a></li>
                        {% if app.user.nom is defined %}
                        <li class="btn-cta"><a href="{{path('ctg_nouvelle_demande')}}" data-nav-section="sign-up"><span>Nouvelle demande</span></a></li>
                        {% else%}
                        <li class="btn-cta"><a href="{{path('ctg_creer_compte')}}" data-nav-section="sign-up"><span>Je m'inscris</span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>
    {% endblock %}
    </header>
    <main id="mainBac1a5">
    {% block main %}
        {{parent()}}
        <div id="infoBac1a5">
            <h1>Vous êtes en formation initiale ...</h1></br>
            <h2>Votre niveau d'étude :</h2>
            <ul id="listeBac1a5">
                <li>Bac +1 : après mon Bac, il s'agit de la 1ère année d'étude (Bts, Licence, Prépa.)</li>
                <li>Bac +2 : Il s'agit de la 2ème année d'étude (Bts, Licence, Prépa.)</li>
                <li>Bac +3 : Il s'agit de la 3ème année d'étude (Licence)</li>
                <li>Bac +4 : Il s'agit de la 4ème année d'étude (Master I)</li>
                <li>Bac +5 : Il s'agit de la 5ème année d'étude (Master II)</li>
            </ul>
        </div>
    {% endblock %}
    </main>
    <footer>
        {% block footer %}
            {{parent()}}
        {% endblock %}
    </footer>
</body>
{% endblock %}