{% extends "CtgMainBundle:Layout:form.html.twig" %}

{% block title %}{{parent()}}-Modification demande{% endblock %}
{% block stylesheets %}{{parent()}}{% endblock %}
{% block body %}
    <header>
    {%block header %}
        {{parent()}}
            {% if is_granted('ROLE_GESTIONNAIRE') %}
        <nav class="gtco-nav" role="navigation">
        <div class="container">
            <div>
                <div class="col-sm-2 col-xs-12">
                    <div id="gtco-logo">Aides<em>Territoriales</em>&Eacute;tudiants</div>
                </div>
                <div class="col-xs-10">
                    <ul>
                        <li><a href="{{ path('ctg_education') }}" data-nav-section="aides">Accueil</a></li>
                        <li><a href="{{ path('ctg_profil', {'id' : user.id}) }}" data-nav-section="aides">Retour à la fiche</a></li>
                        <li><a href="{{ path('ctg_contact_etudiant', {'id' : user.id}) }}" data-nav-section="aides">contacter l'étudiant</a></li>
                        <!--<li><a href="{#{{ path('ctg_contact_referent') }}#}" data-nav-section="rules">contacter un référent</a></li> -->
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>
    {% elseif is_granted('ROLE_UTILISATEUR') %}
        <nav class="gtco-nav" role="navigation">
        <div class="container">
            <div>
                <div class="col-sm-2 col-xs-12">
                    <div id="gtco-logo">Aides<em>Territoriales</em>&Eacute;tudiants</div>
                </div>
                <div class="col-xs-10">
                    <ul>
                        <li><a href="{{ path('ctg_education') }}" data-nav-section="aides">Accueil</a></li>
                        <li><a href="{{ path('ctg_aides') }}" data-nav-section="aides">Les aides</a></li>
                        <li><a href="{{ path('ctg_faq') }}" data-nav-section="rules">FAQ</a></li>
                        <li><a href="{{ path('ctg_contact') }}" data-nav-section="procedure">Contact</a></li>
                        {% if app.user.nom is defined %}
                        <li class="btn-cta"><a href="{{path('ctg_nouvelle_demande')}}" data-nav-section="sign-up"><span>Nouvelle demande</span></a></li>
                        {% else%}
                        <li class="btn-cta"><a href="{{path('ctg_creer_compte')}}" data-nav-section="sign-up"><span>Je m'inscris</span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>
    {% endif %}
    {% endblock %}
    </header>
    <main class="mainForm">
        {% block main %}
        {{parent()}}
        <div class="well">
            <h1>Modifier la demande de {{ user.nom}} {{user.prenom}}</h1>
            <hr color="#0085CA" width="80%"></br></br>
            {{ form_start(form) }}
            <h4>Annee Universitaire N-1</h4>
            <div>
                *{{ form_label(form.Etablissement_n_1)}}
                {{ form_widget(form.Etablissement_n_1) }}
            </div>
            <div>
                *{{ form_label(form.Adresse_n_1)}}
                {{ form_widget(form.Adresse_n_1) }}
            </div>
            <div>
                *{{ form_label(form.Code_postal_n_1)}}
                {{ form_widget(form.Code_postal_n_1) }}
            </div>
            <div>
                *{{ form_label(form.Ville_n_1)}}
                {{ form_widget(form.Ville_n_1) }}
            </div>
            <div>
                *{{ form_label(form.Classe_frequentee_n_1)}}
                {{ form_widget(form.Classe_frequentee_n_1) }}
            </div>
            <div>
                *{{ form_label(form.Specialite_n_1)}}
                {{ form_widget(form.Specialite_n_1) }}
            </div>
            <h4>Année Universitaire N</h4>        
            <div>
                *{{ form_label(form.Etablissement)}}
                {{ form_widget(form.Etablissement) }}
            </div>
            <div>
                *{{ form_label(form.Adresse)}}
                {{ form_widget(form.Adresse) }}
            </div>
            <div>
                *{{ form_label(form.Code_postal)}}
                {{ form_widget(form.Code_postal) }}
            </div>
            <div>
                *{{ form_label(form.Ville)}}
                {{ form_widget(form.Ville) }}
            </div>
            <div>
                *{{ form_label(form.Classe_frequentee)}}
                {{ form_widget(form.Classe_frequentee) }}
            </div>
            <div>
                *{{ form_label(form.Specialite)}}
                {{ form_widget(form.Specialite) }}
            </div>
            <div>
                <h4>Aides sollicitées*</h4>
                {{ form_widget(form.aides)}}
            </div>
            {% if is_granted('ROLE_GESTIONNAIRE') %}
            <!--<div>
                *{#{{ form_label(form.Etat)}}#}
                {#{{ form_widget(form.Etat) }}#}
            </div>
            <div>
                *{#{{ form_label(form.Complet)}}#}
                {#{{ form_widget(form.Complet) }} #}
            </div> -->
            {% endif %}
            {{ form_end(form) }}
        
        </div>
        {% endblock %}
    </main>
    <footer id="formFooter">
        {% block footer %}
            {{parent()}}
        {% endblock %}
    </footer>
{% endblock %}