{% extends "CtgMainBundle:Layout:main.html.twig" %}

{% block title %}Bac +1 à Bac +5{% endblock %}
{% block stylesheets %}{{parent()}}{% endblock %}

{%block body %}
<body>
    <header>
    {%block header %}
    {{parent()}}
        <nav id="menu">
            <p id="title">SERVICE EDUCATION</p>
             <ul id="menu-ul">
                <li>
                    <a href="{{urlReglement }}">Règlement</a>
                </li>
                <li>
                    <a href="{{ urlProcedureAttribution }}">Procédure d'attribution</a>
                </li>
                <li>
                    <a href="{{ urlListePiece }}">Liste des pièces</a>
                </li>
                <li>
                    <a href="{{ urlContact }}">Contact</a>
                </li>
            </ul> 
        </nav>
    {% endblock %}
    </header>
    <main id="mainBac1a5">
    {% block main %}
        {{parent()}}
        <div id="infoBac1a5">
            <h1>Vous êtes en formation initiale ...</h1></br>
            <h2>Votre niveau d'étude :</h2>
            <ul id="listeBac1a5">
                <li>Bac +1 : après mon Bac, il s'agit de la 1ère année d'étude (Bts, Licence, Prépa.)</li>
                <li>Bac +2 : Il s'agit de la 2ème année d'étude (Bts, Licence, Prépa.)</li>
                <li>Bac +3 : Il s'agit de la 3ème année d'étude (Licence)</li>
                <li>Bac +4 : Il s'agit de la 4ème année d'étude (Master I)</li>
                <li>Bac +5 : Il s'agit de la 5ème année d'étude (Master II)</li>
            </ul>
        </div>
    {% endblock %}
    </main>
    <footer>
        {% block footer %}
            {{parent()}}
        {% endblock %}
    </footer>
</body>
{% endblock %}