{% extends "CtgMainBundle:Layout:main.html.twig" %}

{% block title %}Lorem ipsum{% endblock %}
{% block stylesheets %}{{parent()}}{% endblock %}


{%block body %}
<body>
    <header>
    {%block header %}
        {{parent()}}
        <nav class="gtco-nav" role="navigation">
        <div class="container">
            <div>
                <div class="col-sm-2 col-xs-12">
                    <div id="gtco-logo">Aides<em>Territoriales</em>&Eacute;tudiants</div>
                </div>
                <div class="col-xs-10">
                    <ul>
                        <li><a href="{{ path('ctg_education') }}" data-nav-section="aides">Accueil</a></li>
                        <li><a href="{{ path('ctg_aides') }}" data-nav-section="aides">Les aides</a></li>
                        <li><a href="{{ path('ctg_faq') }}" data-nav-section="rules">FAQ</a></li>
                        <li><a href="{{ path('ctg_contact') }}" data-nav-section="procedure">Contact</a></li>
                        {% if app.user.nom is defined %}
                        <li class="btn-cta"><a href="{{path('ctg_nouvelle_demande')}}" data-nav-section="sign-up"><span>Nouvelle demande</span></a></li>
                        {% else%}
                        <li class="btn-cta"><a href="{{path('ctg_creer_compte')}}" data-nav-section="sign-up"><span>Je m'inscris</span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>
    {% endblock %}
    </header>
    <main>
    {% block main %}
        {{parent()}}
        <div class="infos">
            <h1>Titre 1</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lacus rhoncus, ullamcorper tortor ac, semper tellus. Nullam pharetra, diam placerat laoreet viverra, libero leo aliquam sapien, sed pretium dolor enim rutrum tellus. Sed malesuada elementum tortor, eget eleifend lacus aliquam sed. Etiam ullamcorper non mauris quis fermentum. Proin hendrerit felis nec pellentesque luctus. Sed dictum arcu odio, in condimentum velit ultrices sit amet. Etiam sollicitudin tristique mi, et feugiat dui viverra ultrices.
            </p>
            <h1>Titre 2</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lacus rhoncus, ullamcorper tortor ac, semper tellus. Nullam pharetra, diam placerat laoreet viverra, libero leo aliquam sapien, sed pretium dolor enim rutrum tellus. Sed malesuada elementum tortor, eget eleifend lacus aliquam sed. Etiam ullamcorper non mauris quis fermentum. Proin hendrerit felis nec pellentesque luctus. Sed dictum arcu odio, in condimentum velit ultrices sit amet. Etiam sollicitudin tristique mi, et feugiat dui viverra ultrices.
            </p>
            <h2>Sous titre 2.1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lacus rhoncus, ullamcorper tortor ac, semper tellus. Nullam pharetra, diam placerat laoreet viverra, libero leo aliquam sapien, sed pretium dolor enim rutrum tellus. Sed malesuada elementum tortor, eget eleifend lacus aliquam sed. Etiam ullamcorper non mauris quis fermentum. Proin hendrerit felis nec pellentesque luctus. Sed dictum arcu odio, in condimentum velit ultrices sit amet. Etiam sollicitudin tristique mi, et feugiat dui viverra ultrices.
            </p>
            <h1>Titre 3</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lacus rhoncus, ullamcorper tortor ac, semper tellus. Nullam pharetra, diam placerat laoreet viverra, libero leo aliquam sapien, sed pretium dolor enim rutrum tellus. Sed malesuada elementum tortor, eget eleifend lacus aliquam sed. Etiam ullamcorper non mauris quis fermentum. Proin hendrerit felis nec pellentesque luctus. Sed dictum arcu odio, in condimentum velit ultrices sit amet. Etiam sollicitudin tristique mi, et feugiat dui viverra ultrices.
            </p>
        </div>
    {% endblock %}
    </main>
    <footer>
    {% block footer %}
        {{parent()}}
    {% endblock %}
    </footer>
</body>
{% endblock %}