<p>Bonjour M. TABLON,</p>
<p></p>Bonjour Mme VILSAINT,</p>


{{gestionnaire.nom}} {{gestionnaire.prenom}} vous demande de valider la fiche suivante :
<a href="{{ url('ctg_form_fiche',{'id': etudiant.id }) }}">{{ url('ctg_form_fiche',{'id': etudiant.id }) }}</a>

<img src="{{ absolute_url(asset('img/logo-ctg.png')) }}">
